name: Update Gold Price

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create Data
        run: |
          echo '{"sjc_buy": "89.0", "sjc_sell": "91.0", "updated_at": "19/02/2026"}' > data.json

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add data.json
          git commit -m "Update gold price" || exit 0
          git push
